.hero-bottom-fade {
    display: none;
}

.hero-mask-fade {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.hero-content {
    z-index: 2; /* Ensure content is above fade */
}







